@model  IEnumerable<NFTCollectionServiceModel>

@{
    ViewBag.Title = "Admnistration";
}

<h1>All NFT Collections</h1>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Approved</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        @foreach (var nftCollection in Model)
        {
            <tr>
                <td scope="col">@nftCollection.Id</td>
                <td scope="col">@nftCollection.Name</td>
                <td scope="col">@nftCollection.CategoryName</td>
                <td scope="col">@(nftCollection.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                     <a asp-area="" asp-controller="NFTCollections" asp-action="Delete" asp-route-id="@nftCollection.Id" class="btn btn-danger float-end ms-3">Delete</a>
                     <a asp-area="" asp-controller="NFTCollections" asp-action="Edit" asp-route-id="@nftCollection.Id" class="btn btn-warning text-white float-end ms-3">Edit</a>
                     <a asp-area="Admin" asp-controller="NFTCollections" asp-action="ChangeVisibility" asp-route-id="@nftCollection.Id" class="btn btn-info float-end ms-3 text-white">@(nftCollection.IsPublic ? "Hide" : "Approve")</a>
                     <a asp-area="" asp-controller="NFTCollections" asp-action="Details" asp-route-id="@nftCollection.Id" asp-route-information="@nftCollection.GetInformation()" class="btn btn-primary float-end ms-3">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>