@model IEnumerable<NFTCollectionServiceModel>

<div class="row">
    @foreach (var nftCollection in Model)
    {
        <div class="col-md-4 col-lg-3 col-sm-4 col-xl-3">
            <div class="card mb-3">
                <img class="card-img-top" src="@nftCollection.ImageUrl" height="180" alt="@nftCollection.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@nftCollection.Name</h5>
                    <div class="btn-group" role="group">
                        <a asp-controller="NFTCollections" asp-action="Details" asp-route-id="@nftCollection.Id" asp-route-information="@nftCollection.GetInformation()" class="btn btn-primary">Details</a>
                        @if (@ViewBag.AllowCollectionEdit == true || User.IsAdmin())
                        {
                            <a asp-controller="NFTCollections" asp-action="Edit" asp-route-id="@nftCollection.Id" class="btn btn-warning text-white">Edit</a>

                            <a class="btn btn-danger rounded-end" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Delete
                            </a>

                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            Are you sure you want to delete this collection?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="NFTCollections" asp-action="Delete" asp-route-id="@nftCollection.Id" class="btn btn-primary">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="btn-group mt-1">
                            <a asp-controller="NFTs" asp-action="Add" asp-route-id="@nftCollection.Id" class="btn btn-success text-white">Add NFT</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>