@model IEnumerable<NFTListingViewModel>

<div class="row">
    @foreach (var nft in Model)
    {
       <div class="col-md-4 col-lg-3 col-sm-4 col-xl-3">
            <div class="card">
            <img class="card-img-top" src="@nft.ImageUrl" width="800" height="300" alt="@nft.Name - @nft.Price - @nft.Category">
            <div class="card-body text-center">
                <h5 class="card-title text-center">@nft.Name</h5>
                <a asp-controller="NFTs" asp-action="Details" asp-route-id="@nft.Id" class="btn btn-primary">View More</a>
            </div>
        </div>
       </div>
    }
</div>

