@model IEnumerable<NFTListingServiceModel>

@{
    ViewBag.Title = "Explore Collections";
}

<h5 class="text-secondary mb-4">@($"{@Model.Count()} {(@Model.Count() == 1 ? "item" : "items")} ")</h5>

<div class="row">
    @foreach (var nft in Model)
    {
        <div class="col-md-4 col-lg-3 col-sm-4 col-xl-3">
            <div class="card mb-4">
                <img class="card-img-top" src="@nft.ImageUrl" width="800" height="300" alt="@nft.Name - @nft.Price - @nft.Category">
                <div class="card-body align-left">
                    <h6 class="card-title fw-bold text-secondary">@nft.NFTCollectionName</h6>
                    <h6 class="fw-bold">@nft.Name</h6>
                    <div>
                        <h7 class="text-secondary">Price</h7>
                        <p class="card-text fw-bold">
                            <span class="align-middle">
                                @nft.Price
                            </span>
                            <span class="align-middle">
                                <img src="~/img/coin.png" width="25" heigth="25" />
                            </span>
                            <a asp-controller="NFTs" asp-action="Details" asp-route-id="@nft.Id" class="btn stretched-link hidden"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

