@model NFTDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using BlueSun.Data.Models

@inject UserManager<User> UserManager

@{
    var userIsAdmin = User.IsAdmin();
}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageUrl" class="rounded border border-1 border-info" width="500" height="500" alt="https://static.vecteezy.com/system/resources/previews/000/375/499/large_2x/question-mark-vector-icon.jpg">
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col">
                    <h5 class="text-start fw-bold text-primary">
                        <a class="card-title text-primary text-decoration-none align-middle" asp-controller="NFTCollections" asp-action="Details" asp-route-id="@Model.NFTCollectionId" asp-route-information="@Model.NFTCollectionName">
                            <span class="align-middle">
                                @Model.NFTCollectionName
                            </span class="align-middle">
                            <span>
                                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828640.png" width="20" heigth="20" class="img-fluid align-middle" alt="https://static.vecteezy.com/system/resources/previews/000/375/499/large_2x/question-mark-vector-icon.jpg">
                            </span>
                        </a>
                    </h5>
                </div>
                <div>
                    <h2 class="text-start fw-bold mb-2">
                        @Model.Name
                    </h2>
                </div>
                <div>
                    <h6 class="text-secondary mb-5">
                        Owned by 
                        <a class="card-title text-primary text-decoration-none" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.OwnerId" class="btn stretched-link hidden">@Model.OwnerName</a>
                    </h6>
                </div>
                <div>
                    <div class="card mb-3" style="max-width: 36rem;">
                          <div class="card-body border-secondary">
                            <h6 class="card-title">
                                <span class="align-middle">
                                    <h8 class="text-secondary ">Current Price</h8>
                                </span>
                            </h6>
                            <p class="card-text">
                                <div class="row">
                                    <div class="col-md-1">
                                        <span class="align-middle">
                                            <img src="https://freepikpsd.com/file/2019/11/game-coin-transparent-png-images-.png" width="40" heigth="40" />
                                        </span>
                                    </div>
                                    <div class="col-md-11">
                                        <h4>
                                            <span class="align-middle fw-bold">
                                                @Model.Price
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="mt-4">
                                        
                                        
                                        @if (@Model.UserHasWallet && !userIsAdmin)
                                        {
                                            if(!@Model.UserIsOwner)
                                            {
                                                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <span class="align-middle">
                                                       <img src="https://cdn.discordapp.com/attachments/960121710953254912/960134052969611284/image.png" width="40" heigth="40"/>
                                                    </span>
                                                    <span class="align-middle">
                                                       Buy now
                                                    </span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-primary btn-lg" disabled data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <span class="align-middle">
                                                        <img src="https://cdn.discordapp.com/attachments/960121710953254912/960134052969611284/image.png" width="40" heigth="40"/>
                                                    </span>
                                                    <span class="align-middle">
                                                        Buy now
                                                    </span>
                                                </button>
                                            }


                                         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                Are you sure you want to purchase this item?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                                <a class="btn btn-primary" asp-controller="Users" asp-action="Purchase" asp-route-id="@Model.Id">Yes</a>
                                              </div>
                                            </div>
                                          </div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (userIsAdmin || @Model.UserIsOwner)
                                            {
                                               <button class="btn btn-primary btn-lg" type="button" disabled data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                                    <span class="align-middle">
                                                        <img src="https://cdn.discordapp.com/attachments/960121710953254912/960134052969611284/image.png" width="40" heigth="40"/>
                                                    </span>
                                                    <span class="align-middle">
                                                        Buy now
                                                    </span>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                                    <span class="align-middle">
                                                        <img src="https://cdn.discordapp.com/attachments/960121710953254912/960134052969611284/image.png" width="40" heigth="40"/>
                                                    </span>
                                                    <span class="align-middle">
                                                        Buy now
                                                    </span>
                                                </button>
                                            }


                                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                              <div class="offcanvas-header">
                                                <h5 id="offcanvasRightLabel">Connect your wallet</h5>
                                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                              </div>
                                              <div class="offcanvas-body">
                                                  <span>Connect your wallet in order to be able to purchase items!</span>
                                                  <div>
                                                      <a class="btn btn-primary" asp-controller="NFTs" asp-action="ConnectWallet" asp-route-id="@Model.Id">Connect</a>
                                                  </div>
                                              </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card border-info mb-4 mt-4" style="max-width: 31.3rem;">
        <div class="card-header">Description</div>
        <div class="card-body">
            <h6 class="card-title text-secondary">
                Created by
                <a class="card-title text-primary text-decoration-none" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.ArtistId" class="btn stretched-link hidden">@Model.ArtistName</a>
            </h6>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>
