@model IndexViewModel

@{
    ViewData["Title"] = "Welcome to BlueSun";
}

@{
    var nftCollections = Model.NFTCollections;
    var firstCollection = nftCollections.Any() ? nftCollections[0] : null;
    var secondCollection = nftCollections.Count > 1 ? nftCollections[1] : null;
    var thirdCollection = nftCollections.Count > 2 ? nftCollections[2] : null;
}

@if(!nftCollections.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Biggest NFT Marketplace in the World!</h1>
        <p class="lead">There are no Collections in the system currently available so why don't you just creating one?</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="NFTCollections" asp-action="Create" class="btn btn-primary btn-lg" role="button">Create Collection</a>
        </p>
    </div>
}

   
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @if (firstCollection != null)
        {
            <div class="carousel-item active">
                <img src="@firstCollection.ImageUrl" class="d-block w-100" alt="@firstCollection.Name">
                <div class="carousel-caption d-none d-md-block">
                     <h5><a class="btn btn-primary" asp-controller="NFTCollections" asp-action="Details" asp-route-id="@firstCollection.Id">@firstCollection.Name</a></h5>
                </div>
            </div>
        }

        @if (secondCollection != null)
        {
            <div class="carousel-item">
                <img src="@secondCollection.ImageUrl" class="d-block w-100" alt="@secondCollection.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary"asp-controller="NFTCollections" asp-action="Details" asp-route-id="@secondCollection.Id">@secondCollection.Name</a></h5>
                </div>
            </div>
        }
        @if (thirdCollection != null)
        {
            <div class="carousel-item">
                <img src="@thirdCollection.ImageUrl" class="d-block w-100" alt="@thirdCollection.Name">
                <div class="carousel-caption d-none d-md-block">
                     <h5><a class="btn btn-primary"asp-controller="NFTCollections" asp-action="Details" asp-route-id="@thirdCollection.Id">@thirdCollection.Name</a></h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 

<div class="mt-4 p-5 bg-primary text-white rounded">
    <div class="row">
        <h3 class="col-md-4 text-center">
            @Model.TotalNFTCollections Collections
        </h3>
        <h3 class="col-md-4 text-center">
            @Model.TotalUsers Users
        </h3>
        <h3 class="col-md-4 text-center">
            @Model.TotalNFTs NFTs
        </h3>
    </div>
</div>

